.unstyled-list {
  list-style-type: none;
}

.img-responsive {
  width: 100%;
  height: auto;
}

.go-to-btn {
  display: inline-block;
  padding: $small-spacing;
  border: 2px solid $gray-2;
  margin: $small-spacing 0;
  transition: all 0.3s ease-in-out;

  &:hover, &:focus, &:active {
    background-color: $gray-5;
    color: #fff;
    border-color: $gray-4;
  }
}

.mb-3 {
  margin-bottom: $xl-spacing;
}
