// Variables
$gray-1: #F0F0F0;
$gray-2: #E3E3E3;
$gray-3: #757575;
$gray-4: #616161;
$gray-5: #212121;

// weights
$light-font-weight: 200;
$medium-font-weight: 400;
$heavy-font-weight: 600;

// spacings
$small-spacing: 1rem;
$base-spacing: 1.5rem;
$large-spacing: 2rem;
$xl-spacing: 4rem;
