.project-list-page {
  @extend .default-page;

  // Project cards
  .project-card {
    margin-bottom: $xl-spacing;
    text-align: center;
    padding: $base-spacing;

    .img-container {
      padding: $large-spacing;
    }

    h3 {
      margin-bottom: $base-spacing;
      padding: 0 $base-spacing;
    }

    p {
      margin-bottom: $base-spacing;
    }

    .roles {
      color: $gray-4;
      font-weight: $light-font-weight;
      text-transform: uppercase;
      letter-spacing: 0.125rem;
      display: block;
      margin-bottom: $base-spacing;
    }

    transition: all 0.3s ease-in-out;
    &:hover, &:focus, &:active {
      box-shadow: 0 5px 15px rgba(0,0,0,0.25);
      background-color: #fff;
      color: $gray-5;
    }
  }

}
