---
layout: default
---

<div class="project-list-page">
  <div class="container">

    {{ content }}

    <div class="row">
      <div class="ten columns offset-by-one">
        {% for post in site.posts %}
        <a href="{{ post.url | relative_url }}">
          <div class="project-card">
            <div class="img-container">
              <img class="img-responsive" src="assets/img/{{ post.image }}"/>
            </div>
            <h3>{{ post.title | escape }}</h3>
            <p>{{ post.description | escape }}</p>
            <span class="roles">{{ post.roles | escape }}</span>
          </div>
        </a>
        {% endfor %}
      </div>
    </div>

  </div>
</div>
